@charset "UTF-8";

#MT {
    background-color: #000817b9;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    letter-spacing: 1px;
  }

  .img-fluid2 {
    max-width: 100%;
    min-width: 125px;
    height: auto;
  }

  .bg-coldblack {
    --bs-bg-opacity: 1;
    background-color: #11171a !important;
  }

  .bg-sunset {
    --bs-bg-opacity: 1;
    background-color: #ff3c00 !important;
  }

  .text-neutralgrey {
    color: #ebe9e6;
  }

  .fade-in-A {
    opacity: 1;
    position: relative;
    animation-name: fadeInOpacityA;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  
  @keyframes fadeInOpacityA {
    0% {
      right: 100px;
      opacity: 0;
    }
    100% {
      right: 0px;
      opacity: 1;
    }
  }

  .fade-in-B {
    opacity: 1;
    position: relative;
    animation-name: fadeInOpacityB;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  
  @keyframes fadeInOpacityB {
    0% {
      left: 100px;
      opacity: 0;
    }
    100% {
      left: 0px;
      opacity: 1;
    }
  }

  #smCanvasHolder {
    max-height: 75px;
    max-width: 300px;
    height: auto;
    text-align: center;
    margin:auto;
  }

  #PowerBars {
    border-color: #efedea !important;
    border-width: 2px !important;

  }

  .carousel-item.active {
    display:block;
}

.bg-haze{
  background-color: #1a100483;
}

#Testimonial1{
  font-style: italic;
}

.review-link {
  color: orange;
}

.left-border {
  border-right:honeydew !important;
  border-top:honeydew !important;
  border-bottom:honeydew !important;
  border-style: solid;
}

.out-link {
  color: orange;
  font-style: italic;
}

.carousel-captionB {
  position: absolute;
  right: 14%;
  bottom: 2.2rem;
  left: 14%;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  color: #fff;
  text-align: center;
}


.link-button {
  filter: grayscale(1%);
  transition: filter 0.001s ease;
}

.link-button:hover {
  filter: grayscale(99%) brightness(0.8) contrast(1.8);
  transition: filter 0.005s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.link-buttonB {
  filter: grayscale(1%);
  transition: filter 0.001s ease;
}

.link-buttonB:hover {
  filter: grayscale(99%) brightness(0.9);
  transition: filter 0.005s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.button-helper {
  max-width: 140px !important;
}

.input1 
{
  padding: 4px;
  border-radius: 4px;
  width: 50vmin;
  resize:both;
  min-width: 200px;
  
}

.input1B {
  height: 200px;
  display: inline-block !important;
  min-width: 100%;
  min-width: 260px;
}

