@charset "UTF-8";

#MT {
    background-color: #01060fb9;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
  }

  .img-fluid2 {
    max-width: 100%;
    min-width: 125px;
    height: auto;
  }

  .bg-coldblack {
    --bs-bg-opacity: 1;
    background-color: #121618 !important;
  }

  .bg-sunset {
    --bs-bg-opacity: 1;
    background-color: #ff4d00 !important;
  }

  .text-neutralgrey {
    color: #ebe9e6;
  }

  .fade-in-A {
    opacity: 1;
    position: relative;
    animation-name: fadeInOpacityA;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  
  @keyframes fadeInOpacityA {
    0% {
      right: 100px;
      opacity: 0;
    }
    100% {
      right: 0px;
      opacity: 1;
    }
  }

  .fade-in-B {
    opacity: 1;
    position: relative;
    animation-name: fadeInOpacityB;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  
  @keyframes fadeInOpacityB {
    0% {
      left: 100px;
      opacity: 0;
    }
    100% {
      left: 0px;
      opacity: 1;
    }
  }